<!DOCTYPE html>
<html>
<head>
  <title>RubyFilm</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>
    <div id="title_name">
      <h1>RubyFilm</h1>
    </div>
    <nav>
      <ul>
        <li>
          <a href="">Home</a>
        </li>
        <li>
          <a href="">User Space</a>
        </li>
      </ul>
    </nav>
</header>


<%= yield %>

</body>
</html>
