<h1 class="title">Les films vus :</h1>

<div class="content">
    <% @all_films.each do |result| %>
        <a class="links" href="/film/<%= result.film_id %>">
          <p class="film_title"><%= result.name %></p>
          <% if result.url %>
              <%= image_tag( "http://image.tmdb.org/t/p/w154" + result.url) %><br/><br/>
          <% end %>
    <% end %>
</div>